@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100;200;300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
}

html,
body {
  box-sizing: border-box;
  scroll-behavior: smooth;
  background: #fff;
  font-family: 'Heebo', sans-serif;
  user-select: none;
}

#header {
  transition: 0.3s;
}

.featureCard:hover .cardIcon svg {
  color: #fff !important;
}

.featureCard:hover .cardTitle h5 {
  color: #fff !important;
}

.featureCard:hover .cardSubtitle p {
  color: #f0f0f0 !important;
}